<!DOCTYPE html>
<html>
    <body>
        <div class="container">
            <form method="post" #names="ngForm" (ngSubmit)="onSubmit(names.value)">
                <img src="assets\atl-urgent-care-logo.png">
                <h1 class="checkinText">Registration</h1>
                <input type="text" name="firstName" ngModel placeholder="First Name" ><br>
                <input type="text" name="lastName" ngModel placeholder="Last Name"><br>
                <input type="number" name="age" ngModel placeholder="Age"><br>
                <input type="tel" name="telephone" ngModel placeholder="Phone"><br>
                <input type="date" name="date"><br>
                <button class="submitBtn" id="post" type="submit">Check In</button>    
            </form>
        </div>   
    </body>
</html>





    
       
    

    


