
<p class="p1">
    1. Develop a UI using Angular to capture First Name & Last Name separately
    <input type="checkbox" checked="checked">
    <br>

    2. Create a microservice to accept the above two attributes and create a JSON on the backend (nodejs).
    <input type="checkbox" checked="checked">
    <br>
    
    3. Keep appending the JSON as more names are added from the front end.
    <input type="checkbox" checked="checked">
    <br>
    
    4. Create another microservice to read the JSON file and send the result set to frontend.
    <input type="checkbox">
    <br>
    
    5. Develop another UI to read the JSON and list all the names from the JSON using the microservice created in step 4.
    <input type="checkbox">
    <br>
</p>

    <form method="post" #names="ngForm" (ngSubmit)="onSubmit(names.value)">
        
        <div class="container">

        <img src="assets\SJ-Tech.jpg">

        <h2 class="employeeName">Employee Names</h2>

        <input type="text" name="firstName" ngModel placeholder="Enter First Name" ><br>

        <input style="margin-top: 10px" type="text" name="lastName" ngModel placeholder="Enter Last Name"><br>

        <button class="postBtn" id="post" type="submit">POST</button>    
        
        </div>    
    </form>

    <div class="scroll">
        <h1> Employee Names</h1>
        <p id = "demo" *ngFor="let names of employeeNames">
            {{names.firstName}}
            {{names.lastName}}
        </p>
    </div>
    <button (click)="getNames()" method="get" class="getBtn">GET</button>    



    
       
    

    


