button {
    background-color: #04AA6D;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;

}

img {
    display: block;
    width: 180px;
    height: 180px;
  }

.container {
    display: block;
    text-align: center;
    padding-top: 10px;
}

